.css-preview {
  width: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.css-preview > textarea {
  width: var(--content-width);
  min-height: 9rem;
  max-height: 22rem;
  resize: vertical;
  font-size: 0.68rem;
}

.css-preview__button {
  width: var(--content-width);
  margin-bottom: 1rem;
}
