.box {
  width: 30rem;

  display: flex;
  flex-direction: column;
}

.box__controls {
  padding: 2rem 0 2rem 0;

  display: flex;
  justify-content: space-between;
}

.box__controls > label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box__controls > label > span {
  font-weight: bold;
  text-transform: uppercase;
}

.box__controls > label > input {
  width: 9rem;
  margin-top: 1rem;
  text-align: center;
}

.box__preview {
  width: var(--content-width);
  height: var(--content-width);
  border: 0.2rem solid #000;

  align-self: center;
}
